main {
	display: flex;
	align-items: center;
	position: relative;
}

#map {
	height: 80vh;
	width: 62%;
	border: 2px solid black;
	position: absolute;
	left: 4rem;
}

#stories {
	height: 80vh;
	width: 26%;
	border: 2px solid black;
	position: absolute;
	right: 4rem;
}
